/* ****************** POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* ****************** COLORS */
:root {
  --blue-primary: #2468ff;
  --grey-primary: #222831;
  --yellow-primary: #c6ff00;
  --green-primary: #3fe8be;
  --red-primary: #ff364e;
  --white-primary: #ffffff;

  --blue-secondary: #09263f;
  --yellow-secondary: #f5ebe0;
  --white-secondary: #f8f8f8;
  --grey-secondary: #f5f5f5;

  --blue-opacity: #bbd0ff;
  --grey-opacity: #f8f2ea;
  --yellow-opacity: #edffb0;
  --green-opacity: #c3f8eb;
  --red-opacity: #ff95a2;

  --black-neutral-dark: #111111;
  --grey-neutral-one: #292929;
  --grey-neutral-two: #414141;
  --grey-neutral-tree: #595959;
  --grey-neutral-four: #717171;
  --grey-neutral-five: #888888;
  --grey-neutral-six: #a0a0a0;
  --grey-neutral-seven: #b8b8b8;
  --grey-neutral-eigth: #d0d0d0;
  --grey-neutral-nine: #e7e7e7;
  --green-dark: #235b56;
  --red-dark: #5b2323;
  --yellow-dark: #b0b600;

  --grey-transparent: #29292939;
}

textarea:focus,
input:focus,
select:focus {
  outline: 0;
  background-color: none;
  font-style: none;
}

/* ****************** BODY CONFIG */
body {
  margin: 0;
  padding: 0;
  max-width: 100vw !important;
  border-style: none;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--white-secondary);
}

body h1 {
  font-weight: bold;
  font-size: 64px;
  line-height: 1.1;
}

body h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 1.1;
}

body h3 {
  font-weight: bold;
  font-size: 32px;
  line-height: 1.1;
}

body h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2;
}

body h5 {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
}

body h6 {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.2;
}

body p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
}

.textLarge {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
}

.textSmall {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.errorInput {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 10px;
  line-height: 0.5;
  color: red;
  margin: 0 !important;
}

/* ****************** CONTAINER CONFIG */

.containerModals {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--black-neutral-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 98;
}

.fullContainer {
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}

.mainContainer {
  width: 100%;
  min-height: 74vh;
  display: flex;
  max-width: 930px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 4%;
}

.greyBackground {
  position: relative;
  width: 100%;
  background-color: var(--grey-primary);
  color: var(--white-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxTextSmall {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  bottom: 0px;
  right: 10px;
}

/* ****************** FORM CONFIG */

.medicalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  width: 100%;
  height: 100%;
  padding: 0px 100px;
}

.userInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  border-bottom: 2px solid #9EA2AA;
}

.userInfoImg {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  height: 100%;
}


.userInfoImg img {
  height: 200px !important;
  object-fit: cover;
}

.userInfoText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  height: 100%;
}

.boxUserInfoText,
.boxUserInfoText2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}


.boxUserInfoText p,
.boxUserInfoText2 .subBoxUserInfoText p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400 !important;
  font-size: 14px;
  color: #9EA2AA;
}

.boxUserInfoText h2,
.boxUserInfoText2 .subBoxUserInfoText h2 {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  color: #000000;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;

}

.form .inputTextForm {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  border: 2px solid #E7E7E7;
  border-radius: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.form .inputTextForm::placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #5E5E5E;
}

.boxForm1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.boxForm,
.boxFormBloodType {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 50px;
  width: 100%;
  height: 100%;
}

.boxFormGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: start;
  row-gap: 10px;
  column-gap: 50px;
  width: 100%;
  height: 100%;
}

.form label {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #222831;
}

.form .boxForm1 .inputTextForm {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  border: 2px solid #E7E7E7;
  margin-bottom: 15px;
  border-radius: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.form .boxForm1 .inputTextForm::placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #5E5E5E;
}

.form .boxForm .inputTextForm {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  border: 2px solid #E7E7E7;
  border-radius: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.form .boxForm .inputTextForm::placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #5E5E5E;
}

.form input {
  width: 20px;
  height: 20px;
}

.inputTextArea {
  width: 100%;
  padding: 10px 20px;
  border: 2px solid #E7E7E7;
  border-radius: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.inputTextArea::placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #5E5E5E;
}

.boxForm label,
.boxFormGrid label,
.boxFormBloodType label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  color: #5E5E5E;
}

.boxConsent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  width: 100%;
  height: 100%;
}

.consentText {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400 !important;
  font-size: 16px;
  color: #222831;
}

.consentText2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  gap: 5px;
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  color: #5E5E5E !important;
}

.consentText2 input {
  margin-top: 6px;
}

.form input[type='checkbox'],
.form input[type='radio'] {
  cursor: pointer;
}

.form button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  margin-top: 30px;
  border-radius: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400 !important;
  font-size: 18px;
  color: #222831;
  background: #32E0C4;
  cursor: pointer;
}

.form button:hover {
  background: #32e0c3bb;
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.formAlreadySentMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.formAlreadySentMessage h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #222831;
}

/* ****************** INPUTS CONFIG */

.inputText {
  font-size: 14px;
  background-color: var(--white-primary);
  color: var(--grey-neutral-six);
  padding: 10px 20px;
  border: var(--grey-neutral-eigth) 1px solid;
  border-radius: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.inputText:focus,
.inputTextForm:focus {
  border: var(--green-primary) 1px solid !important;
}

textarea:focus {
  border: var(--green-primary) 1px solid !important;
}

.inputText:valid {
  border-color: var(--grey-neutral-eigth) !important;
}

.inputText img {
  width: 14px;
  height: 14px;
}

/* ****************** BUTTONS CONFIG */
.btnGreen {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 10%;
  min-height: 40px;
  background-color: var(--green-primary);
  color: var(--black-neutral-dark);
  padding: 10px 25px;
  border-radius: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  transition: all 0.5 ease;
}

.btnBlue {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 10%;
  min-height: 40px;
  background-color: var(--blue-secondary);
  color: var(--white-primary);
  padding: 10px 25px;
  border-radius: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  transition: all 0.5 ease;
}

.btnBlack {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 10%;
  min-height: 40px;
  background-color: var(--black-neutral-dark);
  color: var(--green-primary);
  padding: 10px 25px;
  border-radius: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  transition: all 0.5 ease;
}

.btnRed {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 10%;
  min-height: 40px;
  background-color: var(--red-primary);
  color: var(--white-primary);
  padding: 10px 25px;
  border-radius: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  transition: all 0.5 ease;
}

.btnDisabled {
  font-weight: bold;
  font-size: 13px;
  min-height: 40px;
  line-height: 1.2;
  letter-spacing: 10%;
  color: var(--grey-neutral-six);
  border: var(--grey-neutral-seven) 1px solid;
  padding: 10px 25px;
  border-radius: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  transition: all 0.5 ease;
}

.btnGreen img {
  width: 20px;
  height: 20px;
}

.btnBlue img {
  width: 20px;
  height: 20px;
}

.btnBlack img {
  width: 20px;
  height: 20px;
}

.btnRed img {
  width: 20px;
  height: 20px;
}

.btnDisabled img {
  width: 20px;
  height: 20px;
}

.loading-animation {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

@media (max-width: 768px) {
  .greyBackground {
    flex-direction: column;
    gap: 10px;
    height: auto !important;
    padding: 10px 0;
  }

  .boxTextSmall {
    position: static;
  }

  /* ****************** FORM CONFIG */

  .medicalContainer {
    gap: 30px;
    padding: 0px 10px;
  }

  .userInfo {
    flex-direction: column-reverse;
  }

  .userInfoImg {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .userInfoImg img {
    height: auto !important;
  }

  .boxUserInfoText2 {
    flex-direction: row;
    justify-content: space-between;
  }

  .boxUserInfoText h2,
  .boxUserInfoText2 .subBoxUserInfoText h2 {
    font-size: 28px;
  }

  .boxFormBloodType {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
  }

  .boxFormGrid {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 20px;
  }

  .consentText {
    font-size: 14px;
  }

  .consentText2 {
    font-size: 16px !important;
  }

  .consentText2 input {
    width: 50px;
    margin-top: 4px;
  }

  .boxFormButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  .formAlreadySentMessage {
    padding-bottom: 30px;
  }

  .formAlreadySentMessage h2 {
    font-size: 20px;
  }

}

@media (min-width: 930px) {
  .btnGreen:hover {
    background-color: var(--green-opacity);
    transform: scale(1.1);
    color: var(--black-neutral-dark);
  }

  .btnBlue:hover {
    background-color: var(--blue-opacity);
    transform: scale(1.1);
    color: var(--black-neutral-dark);
  }

  .btnBlack:hover {
    background-color: var(--grey-neutral-two);
    transform: scale(1.1);
  }

  .btnRed:hover {
    background-color: var(--red-opacity);
    transform: scale(1.1);
    color: var(--black-neutral-dark);
  }
}

@media (max-height: 815px) {
  .btnGreen {
    padding: 5px 15px !important;
  }

  .btnBlue {
    padding: 5px 15px !important;
  }

  .btnBlack {
    padding: 5px 15px !important;
  }

  .btnRed {
    padding: 5px 15px !important;
  }

  .btnDisabled {
    padding: 5px 15px !important;
  }
}

/* ****************** HEADER */

.headerContent {
  width: 75%;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  color: var(--grey-neutral-seven);
  margin-top: 10px;
  border-top: 2px solid #32E0C4;
}

.headerTitle {
  text-align: center;
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  text-transform: uppercase;
  color: #FFFFFF;


}

.iconGreenOut {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--green-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconGreenin {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--green-primary);
}

.iconRedOut {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--red-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconRedin {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--red-primary);
}

.headerContentRespOne {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.headerContentRespTwo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (max-width: 530px) {
  .responsiveHeaderDiv {
    flex-direction: row !important;
    gap: 0 !important;
  }

  .headerContent {
    margin: 5px 0;
    max-width: 100%;
    font-size: 13px;
  }

  .headerContent span {
    margin-right: 5px 0;
    font-size: 14px;
  }

  .iconGreenin {
    margin: 0 3px;
  }
}

/* ****************** HOME PAGE */
.homeContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 70vh;
  padding-top: 50px;
}

.userContent {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 930px;
  margin-bottom: 30px;
  gap: 30px;
}

.profileContent {
  width: 600px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: var(--white-primary);
  border-radius: 12px;
  padding: 5px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.profileBtn {
  width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.profileItem {
  border-radius: 8px;
  width: 100%;
}

.profileItem h1 {
  font-size: 16px;
}

.profileItem h1 span {
  font-size: 19px;
  font-weight: bold;
  margin-left: 10px;
}

.takePictureContent {
  min-height: 250px;
  min-width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 20px;
}

.takePictureContent p {
  font-size: 16px;
}

.picture {
  width: 250px;
  height: 250px;
}

.picture img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
}

@media (max-width: 930px) {
  .userContent {
    width: 90vw;
  }

  .profileContent {
    width: 90vw;
  }

  .profileBtn {
    width: 90vw;
  }
}

@media (max-width: 650px) {
  .userContent {
    flex-direction: column-reverse;
  }

  .profileContent {
    height: auto;
  }

  .picture img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
}

/* ****************** MODAL TAKE PICTURE */

.aquaMark {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 99;
  border: 1px solid var(--red-primary);
}

.circleMark {
  width: 35vh;
  height: 50vh;
  border: 1px solid var(--red-primary);
}

.cameraDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--black-neutral-dark);
}

.cameraDiv h5 {
  width: 100%;
  color: var(--white-primary);
  font-size: 22px;
  padding: 10px 20px;
  margin-bottom: 20px;
  text-align: center;
}

.webcamSize {
  width: auto;
  height: 70vh;
}

.btnCapture {
  margin: 20px;
  min-width: 130px;
}

.confirmDivContent {
  width: 930px;
  min-height: 70vh;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-captured {
  width: 100%;
}

.confirmDivBtn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

@media (max-width: 930px) {
  .confirmDivContent {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .cameraDiv h5 {
    margin-bottom: 0;
  }
}

@media (max-width: 500px) {
  .cameraDiv h5 {
    margin-bottom: -50px;
    font-size: 18px;
    padding: 0 15px;
  }
}